<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated countries -->
      <package
            uri="platform:/resource/EMF_modeling_project/model/countries.ecore"
            class="countries.CountriesPackage"
            genModel="model/countries.genmodel"/>
   </extension>

</plugin>
